.header-image {
  height: 400px;
  width: 100%;
  background-color: #9797d9;
  background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}