nav {
  height: 60px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
  margin-left: 2%;
}

#writeNewText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}

#writeNewText * {
  margin: 0;
  font-size: 16px;
}

#writeNewText i {
  margin-top: 3px;
}
