nav {
  height: 60px;
  width: 100%;
  background-image: url('../images/cutcube.png');
  background-color: #b5d6d6;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
  margin-left: 2%;
}

#writeNewText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  margin-right: 2%;
}

#writeNewText * {
  margin: 0;
  font-size: 16px;
}

#writeNewText i {
  margin-top: 3px;
}

#writeNewText:hover {
  transition: transform 0.2s;
  transform: scale(1.2);
}

#arrow-down {
  color: red;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(3px); }
  100% { transform: translateY(0); }
}